body{
    background-color: rgb(79, 66, 181);
    color: white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 20px;
}

#git{
    max-width:50px;
    max-height:50px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(28deg) brightness(104%) contrast(102%);
}

h1{
    font-size: 110px;
    text-align: center;
    
}
header{
    background-image:url("");
}

h2{
    text-align: center;
}
nav{
    font-size: 25px;
    display: flex;
    justify-content:center;
}
nav li{
    display: inline
}
#about{
    margin:auto;
    padding-left: 100px;
}
figure{
    display: flex;
    justify-content: center;
}

#techno img{
    max-width:120px;
    max-height: 120px;
    filter: brightness(100%) contrast(100%);
    padding: 40px;
}
footer div, footer figure{
    display: flex;
    justify-content: center;
}