@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
    color:#323232;
    max-width: 950px;
    margin: 0 auto;
    padding: 0 20px;
    line-height: 2;
}

h1::selection,p::selection,h2::selection,img::selection,a::selection { background-color: #323232; color:white}

h1{
    font-size: 2rem;
    font-weight: 700;
}

h2{
    font-size: 1.5rem;
    font-weight: 700;
}



/* Navigation */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav ul{
    display: flex;
}
nav li{
    padding: 10px;
    display: inline;
}
nav a{
    color:inherit;
    text-decoration: none;
}
nav a:hover{
    color:gray;
}


@media screen and (max-width:686px){
    nav{
       flex-direction: column;
    }
    nav h1{
        font-size: 5vh;
    }
    nav li{
        font-size: 1.9vh;
        flex-shrink: 0;
    }
}

/* About Me */

.about-me{
    display: flex;
}
.about-me h2{
    
}
.about-me p{
    margin-right: 100px;
    line-height: 1.6;

}

.about-me img{
    max-width: 300px;
    max-height: 300px;
    height: auto;
    border-radius: 5%;
}

@media screen and (max-width:686px){
    .about-me{
        flex-direction: column;
    }
    .about-me p{
        margin-right: 0px;
    }
    .about-me img{
        max-width: 95%;
        max-height: none;
        margin: 30px auto;
    }
}

/* Skills */

.skills ul{
    max-width: 600px;
    display: flex;
    justify-content: space-between;
}
.skills li{
    padding: 10px;
}
@media screen and (max-width:686px){
    .skills {
        font-size: 2rem;
    }
    .skills ul{
        
        max-width: 90%;
        flex-wrap: wrap;
    }
}
/* Projects  */
.projects{
}