@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

body{
    --m-color: #323232;
    --bg-color: white;
}
body.dark-theme{
    --m-color: white;
    --bg-color: #323232;
}
@media (prefers-color-scheme: dark) {
    body{
        --m-color: white;
        --bg-color: #323232;
    }
    body.light-theme{
        --m-color: white;
        --bg-color: #323232;
    }
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
    
    max-width: 950px;
    margin: 0 auto;
    padding: 0 20px;
    line-height: 2;

    background-color: var(--bg-color);
    color:var(--m-color);
}

h1::selection,p::selection,h2::selection,img::selection,li::selection, a::selection { background-color: var(--m-color); color:var(--bg-color)}

h1{
    font-size: 2rem;
    font-weight: 700;
}

h2{
    font-size: 1.5rem;
    font-weight: 700;
}
h3{
    font-weight: 700;
    font-size: 1.2rem;
}


/* Navigation */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav ul{
    display: flex;
}
nav li{
    padding: 10px;
    display: inline;
}
nav a{
    color:inherit;
    text-decoration: none;
}
nav a:hover{
    color:gray;
}

/* Theme button */
.btn-toggle{
    background-color: inherit;
    color: var(---m-color);
    border: 1px solid var(--m-color);
    width: 27px;
    height: 27px;
    border-radius: 50%;
}

.btn-toggle:hover{
    color: gray;
    border: 1px gray solid;
    
}
@media (pointer:none), (pointer:coarse) {
    .button{
        position: absolute;
        visibility: hidden;
    }
}

@media screen and (max-width:750px){
    nav{
       flex-direction: column;
    }
    nav h1{
        font-size: 9.6vw;
    }
    nav li{
        font-size: 4vw;
        flex-shrink: 0;
    }
}

/* About Me */

#about-me{
    display: flex;
}

#about-me p{
    margin-right: 100px;
    line-height: 1.8;

}

#about-me img{
    max-width: 300px;
    max-height: 400px;
    height: auto;
    border-radius: 5%;
}

@media screen and (max-width:750px){
    #about-me{
        flex-direction: column;
    }
    #about-me p{
        margin-right: 0px;
    }
    #about-me img{
        max-width: 95%;
        max-height: none;
        margin: 30px auto;
    }
}

/* Skills */

#skills ul{
    max-width: 600px;
    display: flex;
    justify-content: space-between;
}
#skills li{
    padding: 10px;
}
@media screen and (max-width:750px){
    #skills {
        font-size: 2rem;
    }
    #skills ul{
        
        max-width: 90%;
        flex-wrap: wrap;
    }
}
/* Projects  */
/* #projects{
} */

/* Contact*/
#contact i{
    padding: 5px 20px 5px 0;
    font-size: 2rem;
}

#contact li{
    display: flex;
    align-items:center;
}

#contact a{
    color:inherit;
}

/* Snake */

#snake-game{
    display: flex;
    flex-direction: column;
    margin-bottom:30px;
}
#game-board{
    margin-top: 20px;
    border: var(--m-color) 14.28px solid;
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-rows: repeat(21,1fr);
    grid-template-columns: repeat(21,1fr);
}

@media screen and (max-width:750px){
    #snake-game{
        justify-content: center;
    }
    #game-board{
        border: var(--m-color) 3.8vw solid;
        width: 80vmin;
        height: 80vmin;
        max-height: none;
        margin: 30px auto;
    }
}

.snake{
    background-color: var(--m-color);
}

.food{
    background-color:var(--bg-color);
    border: var(--m-color) .25vmin solid;
}